<!DOCTYPE html>
<html lang="hu">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="shortcut icon" href="../kepek/logo.jpg" type="image/x-icon" />
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
	<link rel="stylesheet" href="../css/stilus.css" />
	<title>Kérdőív</title>
</head>
<body>
	<div class="jumbotron">
		Kérdőív
	</div>
	<nav>
		<li><a href="/kerdoivek" class="active">Kérdőívek</a></li>
		<% if (statusz == 'p') { %>
			<li><a href="/sablon">Kérdőív sablon</a></li>
			<li><a href="/ertekel">Értékelések</a></li>
		<% } %>
		<li><a href="/kilep">Kilép</a></li>
	</nav>
	<div class="kerdoiv">
		<h1 class="text-center"><%= cim %> <%= okt %></h1>
		<div class="row">
			<form action="/kiertekel" method="post">
				<table>
					<% for( let i = 0; i < kerdesSzam; i++ ) { %>
					<tr>
						<td><%= kerdesek[i] %></td>
						<td>
							<select name="valaszok">
								<% for( let j = 0; j < valaszSzam; j++) { %>
								<option value="<%= j %>">
									<%= valaszok[j] %>
								</option>
								<% } %>
							</select>
						</td>
					</tr>
					<% } %>
				</table>
				<button type="submit" style="margin-bottom: 20px">
					Kiértékel
				</button>
			</form>
			<a href="/kerdoivek">Nyitó</a>
		</div>
	</div>
</body>
</html>