<!DOCTYPE html>
<html lang="hu">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="shortcut icon" href="kepek/logo.jpg" type="image/x-icon" />
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
	<link rel="stylesheet" href="css/stilus.css" />
	<title>Kérdőívek</title>
</head>
<body>
	<div class="jumbotron">
		Kérdőív
	</div>
	<nav>
		<li><a href="/kerdoivek" class="active">Kérdőívek</a></li>
		<% if (statusz == 'p') { %>
			<li><a href="/sablon">Kérdőív sablon</a></li>
			<li><a href="/ertekel">Értékelések</a></li>
		<% } %>
		<li><a href="/kilep">Kilép</a></li>
	</nav>
	<div class="kerdoivek">
		<ul>
			<% if (statusz == 'p') { %>
				<% kerdoivNevek.forEach(elem => { %>
					<li>
						<a href="/kerdoiv/?name=<%= elem %>"><%= elem %></a>
							<a href="/kerdoiv/modosit/?name=<%= elem %>"><span class="material-symbols-outlined">format_ink_highlighter</span></a>
							<button onclick="torol('<%- elem %>')"><span class="material-symbols-outlined">delete</span></button> 
					</li>
				<% }) %>
			<% } else { %>
				<% if (osztaly == '9a') { %>
					<li><a href="/kerdoiv/?name=<%= kerdoivNevek[0]%> Bodrogi Péter Róbert"><%= kerdoivNevek[0]%> Bodrogi Péter Róbert</a></li>
					<li><a href="/kerdoiv/?name=<%= kerdoivNevek[0]%> Csontos Péter"><%= kerdoivNevek[0]%> Csontos Péter</a></li>
				<% } else if (osztaly == '9b') { %>
					<li><a href="/kerdoiv/?name=<%= kerdoivNevek[0]%> Csontos Péter"><%= kerdoivNevek[0]%> Csontos Péter</a></li>
				<% } %>   
				<% for (let i = 1; i < kerdoivNevek.length; i++) { %>
					<li><a href="/kerdoiv/?name=<%= kerdoivNevek[i]%>"><%= kerdoivNevek[i] %></a></li>
				<% } %>
			<% } %> 
		</ul>
	</div>
	<script>
		async function torol(cim) {
			console.log('törlés');
			await fetch(`/kerdoiv/?name=${cim}`, {
				method: 'delete',
			});
		}
	</script>
</body>
</html>