<!DOCTYPE html>
<html lang="hu">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="shortcut icon" href="../../kepek/logo.jpg" type="image/x-icon" />
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
	<link rel="stylesheet" href="../../css/stilus.css" />
	<title>Sablon Feltöltés</title>
</head>
<body>
	<div class="jumbotron">
		Kérdőív
	</div>
	<nav>
		<li><a href="/kerdoivek">Kérdőívek</a></li>
		<% if (statusz == 'p') { %>
			<li><a href="/sablon" class="active">Kérdőív sablon</a></li>
			<li><a href="">Értékelések</a></li>
		<% } %>
		<li><a href="/kilep">Kilép</a></li>
	</nav>
	<h1 class="text-center">Kérdések és válaszok szerkesztése</h1>
	<div class="belep">
		<div class="urlap-sablon">
			<form action="/letrehoz" method="post" autocomplete="off">
				<input type="hidden" name="kerdes" value="<%= kerdesSzam %>" />
				<input type="hidden" name="valasz" value="<%= valaszSzam %>" />
				<label for="cim">A kérdőív címe: </label><br />
				<input type="text" name="cim" id="cim" value="<%= cim %>" /><br />
					<% for( let i = 0; i < kerdesSzam; i++ ) { %>
						<label><%= i + 1 %>. kérdés:</label><br />
						<input type="text" name="kerdes_<%= i + 1 %>" value="<%= kerdesek[i] %>" /><br />
					<% } %>
				<hr /><br />
					<% for( let i = 0; i < valaszSzam; i++ ) { %>
						<label><%= i + 1 %>. válasz:</label><br />
						<input type="text" name="valasz_<%= i + 1 %>" value="<%= valaszok[i] %>" /><br />
					<% } %>
				<button type="submit">Létrehoz</button>
			</form>
		</div>
	</div>
</body>
</html>